pytest-pythonpath==0.7.3
pytest-django==4.4.0
requests==2.26.0
asgiref==3.8.1
atomicwrites==1.4.1
attrs==25.3.0
certifi==2025.4.26
charset-normalizer==2.0.12
colorama==0.4.6
Django>=4.2.9,<5.0
djangorestframework>=3.15.0,<4.0
djangorestframework-simplejwt>=5.0,<6.0
flake8==5.0.4
idna==3.10
iniconfig==2.1.0
mccabe==0.7.0
packaging==25.0
Pillow>=9.3.0,<10.0
pluggy==0.13.1
py==1.11.0
pycodestyle==2.9.1
pyflakes==2.5.0
PyJWT>=2.1.0,<3.0
pytest>=7.0.0,<8.0
pytest-timeout>=2.4.0,<3.0
pytz==2025.2
sqlparse==0.5.3
toml==0.10.2
urllib3==1.26.20
django-debug-toolbar>=5.1.0,<6.0
drf-nested-routers>=0.94.2,<1.0
